* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

.box {
  width: 40rem;
  height: 30rem;
  hr {
  border-top: 1px solid $clr-main-1;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
  input {
    padding: 20px;
    user-select: none;
    height: 75px;
    width: 500px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  input::placeholder {
    font-size: 23px;
  }
}

.page-header {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
  color: $clr-main-1;
}
.box h2 {
  //   margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  color: $clr-main-1;
  font-family: sans-serif;
}


.gen {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#button {
  width: 10rem;
  height: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 0.75rem;
}

.btn2 {
  margin-left: 85px;
}

#button:hover {
  color: white;
  background-color: $clr-main-1;
}
