$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.75rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 0px 15px rgba(0, 0, 0, 0.8);
$max-width: 1170px;
$fixed-width: 620px;

$clr-main-1:rgb(255, 80, 80);
$clr-main-2:rgb(255, 51, 51);
$clr-main-3:rgb(199, 32, 32);
$clr-main-4:rgb(213, 18, 18);
$clr-main-5:rgb(172, 9, 9);